<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Jorhat Institute Of Science And Technology - JIST</title>

  {{!-- Font Awesome Css --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

  {{!-- Bootstraps Css --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {{!-- Custom Css --}}
  <link rel="stylesheet" href="../css/admin.css">

</head>


<body>

{{!-- Navbar --}}
<nav class="navbar navbar-expand-md navbar-light">


  {{!-- TopNav --}}
  <div class="col-lg-10  col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
    <div class="row align-items-center text- light">
      <h4 class="px-4 text-light mb-2 mb-sm-0 pt-1">
        <a class="  text- light">Home</a>
        <span class=" text- light">/</span>
        <span class=" text- light">All Users Details</span>
      </h4>
      <button class="navbar-toggler ml-auto mb-2 bg-dark" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>


  {{!-- Sidebar --}}
  <div class="collapse navbar-collapse" id="myNavbar">

    {{!-- Heading --}}
    <div class="col-lg-2 sidebar fixed-top col-md-4">
      <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">Admin Panel</a>
      <div class="bottom-border pb-3">
        <img src="../img/principal.jpg" width="50" class="rounded-circle mr-3" alt="principal">
        <a class="text-white">Principal</a>
      </div>

      {{!-- Options --}}
      <ul class="navbar-nav flex-column mt-2">
        <li class="nav-item"><a href="/admin/dashboard" class="nav-link text-white p-3 mb-2 sidebar-link"><i
              class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
        <li class="nav-item"><a href="/admin/addUser" class="nav-link text-white p-3 mb-2 sidebar-link"><i
              class="fas fa-user-plus text-light fa-lg mr-3"></i>Add</a></li>
        <li class="nav-item"><a href="/admin/allUsers" class="nav-link text-white p-3 mb-2 sidebar-link"><i
              class="fas fa-table text-light fa-lg mr-3"></i>Veiw</a></li>
        <li class="nav-item"><a href="/admin/feedbacks" class="nav-link text-white p-3 mb-2 sidebar-link"><i
              class="fas fa-envelope text-light fa-lg mr-3"></i>Feedback</a></li>
              <li class="nav-item"><a href="/admin/addNotice" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                    class="fas fa-eye text-light fa-lg mr-3"></i>Notice</a></li>
        <li class="nav-item"><a href="/admin/login" class="nav-link text-white p-3 mb-2 sidebar-link "><i class="fas fa-sign-out-alt text-light fa-lg mr-3"></i>Log Out</a></li>
      </ul>

    </div>

  </div>

</nav>



{{!-- Recently Added Users Tables --}}
<section >
  <div class="container">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-10 col-md-8 ml-auto">
        <div class="row pt-md-3 mt-md-3 mb-5">
          <div class="col-12">

            {{!-- Heading --}}
            <h3 class="text-light text-center mb-3 py-4">Recently Added Users</h3>
            
            {{!-- All Users Details --}}
            <table class="table table-dark table-hover table-striped text-center">
              
              {{!-- Table head --}}
              <thead>

                {{!-- Details --}}
                <tr>

                    {{!-- User Name --}}
                    <th scope="col">User Name</th>

                    {{!-- Full name --}}
                    <th scope="col">Full Name</th>

                    {{!-- Course --}}
                    <th scope="col">Course</th>

                    {{!-- Department --}}
                    <th scope="col">Department</th>

                    {{!-- Semester --}}
                    <th scope="col">Semester</th>

                    {{!-- Actions --}}
                    <th scope="col">Actions</th>
                </tr>
              </thead>

              {{!-- Table Body --}}
              <tbody>
                  {{#each users}}
                  <tr>
                    <td>{{this.username}}</td>
                    <td>{{this.fullname}}</td>
                    <td>{{this.course}}</td>
                    <td>{{this.department}}</td>
                    <td>{{this.semester}}</td>

                    {{!-- Actions --}}
                    <td class="px-2 text-light"> 

                      {{!-- View --}}
                      <a href="/admin/user/{{this._id}}" data-toggle="tooltip" title="<h6>view</h6>" data-html="true" data-placement="bottom"><i class="fa fa-eye text-info mr-2"></i>View</a> &nbsp; | &nbsp;
                      
                      {{!-- Edit --}}
                      <a href="/admin/updateUser/{{this._id}}" data-toggle="tooltip" title="<h6>edit</h6>" data-html="true" data-placement="bottom"><i class="fas fa-edit text-success mr-2"></i>Edit</a> &nbsp; | &nbsp;
                      
                      {{!-- Delete --}}
                      {{!-- <a href="javascript:void(0);" class="text-danger" data-toggle="modal" data-target="#deleteModal-{{this._id}}"></a> --}}
                      <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal-{{this._id}}" title="<h6>delete</h6>" data-html="true" data-placement="bottom"><i class="fas fa-trash-alt text-danger"></i> Delete</a>
                    </td>
                  </tr>
                    {{!-- Delete Modal --}}
                    <div class="modal fade" id="deleteModal-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            You are deleting a student record.
                            <p class="m-1 mt-2 text-danger">username: {{this.username}}</p>
                            <p class="m-1 text-danger">Name: {{this.fullname}}</p>
                            <p class="m-1 text-danger">Course: {{this.course}}</p>
                            <p class="m-1 text-danger">Department: {{this.department}}</p>
                            <p class="m-1 mb-2 text-danger">Semester: {{this.semester}}</p>
                            <p class="text-warning">*This operation cannot be undone. Please select delete to confirm your operation.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="/admin/deleteUser/{{this._id}}" class="btn btn-danger">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/each}}

              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{!-- Bootstraps Scripts --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{{!-- Custom Script --}}
<script src="../js/script.js"></script>


</body>


</html>